<%= form_for @task, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Task</legend>
		<% if @task.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

	      <ul>
	      <% @task.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
    <div class="control-group">
      <%= f.label :user_id, :class => 'control-label' %>
      <div class="controls">
				<%= f.select :user_id, User.select_user, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :status, :class => 'control-label' %>
      <div class="controls">
				<%= f.select :status, Task.select_status, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area span8' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', tasks_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>