<%# fail instance_variables.inspect %>
<tr>
  <td><%= link_to task.user.display_name, task.user %></td>
  <td><%= task.status %></td>
  <td><%= task.description %></td>
  <td><%= link_to 'Show', task %></td>
  <td><%= link_to 'Edit', edit_task_path(task) %></td>
  <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
	<td><%= link_to 'Close', close_task_path(:id => task.id, :show => params[:show]), method: :put %></td>
</tr>