<tr <%= "id=task_#{task.id} class='row #{cycle 'odd', 'even'}'" %> >
  <td><%= link_to task.user.display_name, task.user %></td>
  <td><%= task.status %></td>
  <td><%= link_to truncate(task.description,:length => 55), edit_task_path(task) %></td>
	<td><%= link_to 'Close', close_task_path(:id => task.id, :show => params[:show]), method: :put, :remote => true %></td>
</tr>