<h1>Listing tasks</h1>

<%= link_to 'Any', tasks_path(:show => 'any') %> |
<%= link_to 'Active', tasks_path(:show => 'active') %> |
<%= link_to 'Open', tasks_path(:show => 'open') %> |
<%= link_to 'Pending', tasks_path(:show => 'pending') %> |
<%= link_to 'Closed', tasks_path(:show => 'closed') %>
<br /><br />

<table id="tasks">
  <tr>
    <th>Created By</th>
    <th>Status</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
	<%= render :partial => 'task_row', :locals => { :task => task } %>
<% end %>
</table>
<br />
<%= render 'inline_form' %>
<br />
<%= will_paginate @tasks %>
<br />

<%= link_to 'Users', users_path %> |
<%= link_to 'New Task', new_task_path %> 

