<div id="filter-form" class="span11">
	<h3 class="pull-left">Sort by:&nbsp;</h3>
	<div class="btn-group">
		<%= link_to 'Any', tasks_path(:show => 'any'), :class => "btn #{'btn-inverse' if @show == 'any'}" %>
		<%= link_to 'Active', tasks_path(:show => 'active'), :class => "btn #{'btn-inverse' if @show == 'active'}" %>
		<%= link_to 'Open', tasks_path(:show => 'open'), :class => "btn #{'btn-inverse' if @show == 'open'}" %>
		<%= link_to 'Pending', tasks_path(:show => 'pending'), :class => "btn #{'btn-inverse' if @show == 'pending'}" %>
		<%= link_to 'Closed', tasks_path(:show => 'closed'), :class => "btn #{'btn-inverse' if @show == 'closed'}" %>
	</div>	
</div>

<table id="tasks" class="table table-striped">
  <thead>
    <tr>
      <th>Submitted by</th>
      <th>Status</th>
      <th class='wide'>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
		<%= render :partial => "task_row", :collection => @tasks, :as => :task %>
  </tbody>
</table>

<%= render :partial => 'inline_form' %>

<%= will_paginate @tasks %>