
<table class="table table-striped">
  <thead>
    <tr>
      <th>Submitted by</th>
      <th>Status</th>
      <th class='wide'>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.user.display_name, task.user %></td>
        <td><%= task.status %></td>
        <td><%= link_to truncate(task.description,:length => 75), edit_task_path(task) %></td>
        <td>
          <%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-mini' %>
          <%= link_to 'Close', close_task_path(task), :method => :put, :class => 'btn btn-mini btn-success' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => 'inline_form' %>
<br />
<%= will_paginate @tasks %>