<p id="notice"><%= notice %></p>

<p>
  <b>Created By:</b>
  <%= @task.user.display_name %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Finished at:</b>
  <%= @task.finished_at %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Active Tasks', tasks_path %>
