<p id="notice"><%= notice %></p>

<div id="user">
	<p>
	  <b>First:</b>
	  <%= @user.first_name %>
	</p>
	<p>
	  <b>Last:</b>
	  <%= @user.last_name %>
	</p>
	<p>
	  <b>Email:</b>
	  <%= @user.email %>
	</p>

	<p>
	  <b>Phone Number:</b>
	  <%= @user.sms_number %>
	</p>
</div>
	
<div id="links">
	<%= link_to 'Edit profile', edit_user_path(@user) %> | 
	<%= link_to 'Tasks', tasks_path %>
</div>	