<div id="login" class="row">
	<%= form_for :user, :url => session_login_path, 
							 :html => { :class => "form-inline", :id => "login_form", "accept-charset" => "utf-8"} do  |f| %>
		
		<div class="span5">
			<h2>Log in</h2>	
		</div>
		<div class="span6 hidden-phone">
			<h2>&nbsp;</h2>
		</div>		
		<div id="phone-login" class="visible-phone">	
			<div class="span5">
		    <%= f.text_field :email, :class => 'text_field', :placeholder => :email %>
			</div>
			<div class="span6">
	    	<%= f.text_field :password, :class => 'password_field', :placeholder => :password %>
			</div>
			<div class="span3">	
	  		<%= f.submit :login, :class => 'btn btn-primary pull-right' %>
			</div>	
		</div>	
		<div class="span12 hidden-phone">
			<%= f.text_field :email, :class => 'text_field', :placeholder => :email %>
			<%= f.text_field :password, :class => 'password_field', :placeholder => :password %>
			<%= f.submit :login, :class => 'btn btn-primary' %>
		</div>	
	<% end %>
</div>

<div id="intro" class="row">
	<div class="image_wrapper span4">
		<%= image_tag "http://www.placehold.it/300x300", :class => "visible-desktop" %>
		<%= image_tag "http://www.placehold.it/250x250", :class => "visible-phone" %>
		<%= image_tag "http://www.placehold.it/200x200", :class => "visible-tablet" %>
	</div>
	<div id="welcome-text" class="span4">	
		<h4>
			Todo is a simple todo list that accepts new items through sms text or emails
		</h4>	
	</div>
	<div id="spacer" class="span4">	
		&nbsp;
	</div>	
</div>	
