<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
	<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
		<div id="header" class="row">
			<div class="span12">
				<%= render 'layouts/header' %>
			</div>	
		</div>	
		<div id="flash_error" class="row">
			<div class="span12">	
				<%= (render 'layouts/error', {:error => flash[:error]}) if flash[:error] %>	
				<%= (render 'layouts/notice', {:notice => flash[:notice]}) if flash[:notice] %>
			</div>
		</div>
		<div id="main"  class="row">
			<div class="span12">
				<%= yield %>
			</div>	
		</div>
		<div class="clear"></div>			
		<div id="footer" class="row">
			<div class="span12">
				<%= render 'layouts/footer' %>
			</div>
		</div>
	</div>
</body>
</html>
